@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
@import 'variables';

.title {
    font-weight: 500;
    color: var(--dark);
    background-color: transparent;
    margin: 0;
}

.subtitle {
    font-weight: 400;
    color: var(--dark-text);
    background-color: transparent;
    margin: 0;
}